# Salin file ini menjadi .env dan isi sesuai environment kamu
# cp .env.example .env

# URL Backend API untuk development (ganti dengan IP komputer kamu)
# Android Emulator : http://10.0.2.2:8000/api/v1
# HP Fisik (WiFi)  : http://192.168.X.X:8000/api/v1  (cek via ipconfig)
# iOS Simulator    : http://127.0.0.1:8000/api/v1
EXPO_PUBLIC_API_URL=http://192.168.X.X:8000/api/v1
